[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible-cmdb = "==1.31"
ansible-core = ">=2.13.0"
#jmespath = "==0.10.0"
zabbix-api = "==0.5.4"

[dev-packages]
checkov = ">=2.0.1144"
semgrep = ">=0.94.0"
#pipenv = ">=2022.6.7"
pre-commit = ">=2.19.0"
pre-commit-hooks = ">=4.2.0"
ansible-playbook-grapher = "==1.1.0"
git-pre-commit-hook-utils = ">=0.0.5"
ansible-lint = {extras = ["yamllint"], version = ">=6.0.2"}

[requires]
python_version = "3.8"
