---

- name: brew | Install dependencies for brew requirement
  action: "{{ ansible_pkg_mgr }} name={{ item }} state={{ util_pkg_state|default('present') }} update_cache=yes"
  with_items:
    - curl
    - file
    - git
  become: true

- name: brew | Install apt dependencies for brew requirement
  apt:
    pkg: ['build-essential', 'python-setuptools', 'ruby']
    state: "{{ util_pkg_state|default('present') }}"
    update_cache: true
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  become: true

- name: brew | Install yum dependencies for brew requirement
  yum:
    pkg: ['irb', 'python-setuptools', 'ruby']
    state: "{{ util_pkg_state|default('present') }}"
    update_cache: true
  when: (ansible_distribution == 'CentOS' or ansible_distribution == 'Red Hat Enterprise Linux' or ansible_distribution == 'RedHat')
  become: true
# TODO fix on CentOS 7
  ignore_errors: true

- name: brew | Uninstall homebrew on Ubuntu
  apt: pkg={{ item }} state=absent
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and ansible_distribution_version not in ['12.04', '13.04', '14.04']
  with_items:
    - linuxbrew-wrapper
  become: true

- name: brew | Check Homebrew is installed
  stat:
    path: "{{ homebrew_check_path }}"
  register: "homebrew_check"

- name: brew | Fail if homebrew is not installed and install_homebrew_if_missing is false
  fail:
    msg: "Homebrew is missing...Install from http://brew.sh/"
  when: >
        not homebrew_check.stat.exists and
        not install_homebrew_if_missing

- name: brew | Installing homebrew to custom directory
  git:
    repo: "{{ homebrew_repository }}"
    dest: "{{ home }}/.linuxbrew"
    accept_hostkey: yes
    update: no
    version: master
  when: >
        not homebrew_check.stat.exists and
        install_homebrew_if_missing
#  become_user: "{{ shell_owner }}"
  become: true

#BELOW do not work when /home cannot be wrote due to nis user
#- name: brew | Installing Homebrew
#  command: '/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'
#  when: >
#        not homebrew_check.stat.exists and
#        install_homebrew_if_missing

- name: brew | Ensuring Homebrew bin is installed
  stat:
    path: "{{ homebrew_check_path }}"
  register: "homebrew_check_path"

#test -d ~/.linuxbrew && eval $(~/.linuxbrew/bin/brew shellenv)
#test -d /home/linuxbrew/.linuxbrew && eval $(/home/linuxbrew/.linuxbrew/bin/brew shellenv)

- name: brew | Fail if Homebrew bin does not exist
  fail:
    msg: "Homebrew bin is missing... {{ homebrew_check_path }}"
  when: >
        not homebrew_check_path.stat.exists

#- name: brew | Check Homebrew
#  shell: "{{ homebrew_check_path }} list"
#  when: >
#        homebrew_check_path.stat.exists
##  become_user: "{{ shell_owner }}"
#  become: true

#export PATH=$HOME/homebrew/bin:$PATH

- name: brew | Install brew requirements
  homebrew:
    name: ['cairo', 'libxml2', 'libffi']
    state: present
    update_homebrew: yes
  ignore_errors: true
  become: true
  become_user: "{{ jenkins_user }}"

- name: brew | Install brew requirements using python
  pip:
    name: "{{ item }}"
    executable: "pip{{ python_version }}"
    state: forcereinstall
  with_items:
    - cairocffi==0.8.0
    - CairoSVG==2.0.3
  ignore_errors: '{{ ansible_check_mode }}'
  when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu')
  become: true

- name: brew | Uninstall messing brew python 2 package
  homebrew:
    name: ['mercurial', 'python2']
    state: absent
  changed_when: false
  become: true
  become_user: "{{ jenkins_user }}"
  ignore_errors: true

# brew install openssl
# brew link openssl --force
# brew uninstall python
# brew install python --with-brewed-openssl
# brew update

# For MacOSX
# See
# brew install unixodbc
# brew install freetds --with-tdsver=7.2 --with-unixodbc

# sudo yum groupinstall 'Development Tools' && sudo yum install

- name: brew | Install kitchen package
  homebrew:
    name: ['test-kitchen', 'kitchen-vagrant', 'kitchen-ansible', 'kitchen-docker']
  changed_when: false
  become: true
  become_user: "{{ jenkins_user }}"

- name: brew | Install docker utility package
  homebrew:
    name: ['hadolint', 'dive']
  changed_when: false
  become: true
  become_user: "{{ jenkins_user }}"

#brew update && brew upgrade; brew cleanup
- name: brew | Homebrew Cleaning
  command: "{{ homebrew_check_path }} cleanup"
  with_items: "{{ brew_packages }}"
  when: homebrew_check_path.stat.exists
  become: true
  ignore_errors: true

#- name: brew | Updating Homebrew
#  homebrew:
#    update_homebrew: true
#  when: homebrew_check.stat.exists
