---

# TODO yarn
# https://github.com/ocha/ansible-role-yarn
# curl -sS https://dl.yarnpkg.com/debian/pubkey.gpg | apt-key add -
# echo "deb https://dl.yarnpkg.com/debian/ stable main" | tee /etc/apt/sources.list.d/yarn.list
# sudo apt-get update
# sudo apt-get install yarn

# - name: jenkins-slave | Add yarn repos
#   apt_repository: repo='https://dl.yarnpkg.com/debian/ stable main ./'
#   become: true
#   when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

# - name: jenkins-slave | Addkey yarn
#   apt_key: url=https://dl.yarnpkg.com/debian/pubkey.gpg  state={{ util_pkg_state | default('present') }}
#   become: true
#   when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
#
# - name: jenkins-slave | Install yarn (Debian based)
#   action: "{{ ansible_pkg_mgr }} name={{ item }} update_cache=yes state={{ util_pkg_state | default('present') }}"
#   when: (ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu') and (ansible_distribution_version not in ['12.04','13.04','14.04']) and nodejs_enabled
#   with_items:
#     - yarn
#   register: yarn_result
#   become: true
#   ignore_errors: true

- name: jenkins-slave | Disable yarn ssl check # noqa 503
  command: yarn config set "strict-ssl" false -g
  #when: yarn_result.changed
  become: true
  ignore_errors: true

- name: jenkins-slave | Yarn global add node-gyp
  command: yarn global add node-gyp
  changed_when: false
  become: true
  ignore_errors: true

- name: jenkins-slave | Yarn global add sharp
  command: yarn global add sharp
  changed_when: false
  become: true
  ignore_errors: true
