--TABLESPACES
--we drop them first.

DROP TABLESPACE "SDATA"
/

DROP TABLESPACE "SINDEX"
/

DROP TABLESPACE "RDATA"
/

DROP TABLESPACE "RINDEX"
/

DROP TABLESPACE "PDATA"
/

DROP TABLESPACE "PINDEX"
/

DROP TABLESPACE "TDATA"
/
