--TABLESPACES
--we create them since readme claims that they are usefull.
--sizes were chosen to match USERS tablespaces (be it relevant or not!)

CREATE TABLESPACE "SDATA"
    DATAFILE '{{ database_docker_oradata_orcl }}/SDATA.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "SINDEX"
    DATAFILE '{{ database_docker_oradata_orcl }}/SINDEX.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "RDATA"
    DATAFILE '{{ database_docker_oradata_orcl }}/RDATA.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "RINDEX"
    DATAFILE '{{ database_docker_oradata_orcl }}/RINDEX.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "PDATA"
    DATAFILE '{{ database_docker_oradata_orcl }}/PDATA.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "PINDEX"
    DATAFILE '{{ database_docker_oradata_orcl }}/PINDEX.ora' SIZE 500M REUSE
    AUTOEXTEND ON NEXT 100M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/

CREATE TABLESPACE "TDATA"
    DATAFILE '{{ database_docker_oradata_orcl }}/TDATA.ora' SIZE 20M REUSE
    AUTOEXTEND ON NEXT 20M MAXSIZE UNLIMITED
    MINIMUM EXTENT 128K
    DEFAULT STORAGE (INITIAL 128K NEXT 128K MINEXTENTS 1 MAXEXTENTS 4096 PCTINCREASE 0)
    LOGGING
/
