create user ARCUSER identified by ALMONDE
	DEFAULT TABLESPACE PDATA
	TEMPORARY TABLESPACE TEMP
	QUOTA UNLIMITED ON PDATA
	QUOTA UNLIMITED ON PINDEX
	QUOTA UNLIMITED ON RDATA
	QUOTA UNLIMITED ON RINDEX
	QUOTA UNLIMITED ON SDATA
	QUOTA UNLIMITED ON SINDEX
	QUOTA UNLIMITED ON TDATA
/

-- connect capabilities
grant	CREATE VIEW,
	CREATE TABLE,
	ALTER SESSION,
	CREATE SESSION,
	CREATE SYNONYM,
	CREATE SEQUENCE,
	CREATE DATABASE LINK
to ARCUSER
/

grant CREATE ANY TABLE to ARCUSER
/

grant CREATE ANY VIEW to ARCUSER
/

grant SELECT ANY TABLE to ARCUSER
/

grant CREATE USER to ARCUSER
/

grant DROP USER to ARCUSER
/

grant CREATE TABLE to ARCUSER WITH ADMIN OPTION
/

grant EXP_FULL_DATABASE to ARCUSER
/

grant IMP_FULL_DATABASE to ARCUSER
/

begin
	DBMS_JAVA.GRANT_PERMISSION('ARCUSER', 'SYS:java.io.FilePermission','<<ALL FILES>>','execute,read,write');
	DBMS_JAVA.GRANT_PERMISSION('ARCUSER', 'java.lang.RuntimePermission', '*','writeFileDescriptor' );
end;
/
