# {{ ansible_managed }}

{# Set up machine #}
{% for machine in shell_git %}
[user]
{% if machine.shell_git_email is defined %}
	email = {{ machine.shell_git_email }}
{% endif %}
{% if machine.shell_git_name is defined %}
	name = {{ machine.shell_git_name }}
{% endif %}
[core]
	autocrlf = input
{% if machine.shell_git_editor is defined %}
	editor = {{ machine.shell_git_editor }}
{% endif %}
#[credential]
#	helper = cache --timeout=86400
#[alias]
#	co = checkout
#	br = branch
#	ci = commit
#	st = status
#	pl = pull —rebase
#	di = diff --ignore-space-at-eol -b -w
#	lo = log --graph
#	unstage = reset HEAD --
#	last = log -1 HEAD
#[help]
#	autocorrect = 1
#[color]
#	ui = auto
#[branch "master"]
#	rebase = true
#[branch]
#	autosetuprebase = always
[maven-scm]
    maildomain = free.fr
    forceUsername = true
[http]
    sslverify = false    
{% endfor %}
