# {{ ansible_managed }}
; loglevel=verbose
cache=.node_cache
tmp=.node_tmp
chromedriver_version={{ npm_chromedriver_version }}
{% if npm_nexus_private_npm_ca is defined %}
ca={{ npm_nexus_private_npm_ca }}
{% endif %}
{% if npm_nexus_private_npm_url is defined %}
registry={{ npm_nexus_private_npm_url }}
{% endif %}
{% if npm_prefix is defined %}
prefix={{ npm_prefix }}
{% endif %}
{% if npm_strict_ssl is defined %}
strict-ssl={{ npm_strict_ssl }}
{% endif %}
{% if npm_phantomjs_cdnurl is defined %}
phantomjs_cdnurl={{ npm_phantomjs_cdnurl }}
{% endif %}
{% if npm_slimerjs_cdnurl is defined %}
slimerjs_cdnurl={{ npm_slimerjs_cdnurl }}
{% endif %}
{% for npmrc_entry in npm_nexus_private_npm_data %}
{{ npmrc_entry }}
{% endfor %}
