{
	"auths": {
		"10.21.70.133": {
			"auth": "bWdyLmplbmtpbnM6",
			"identitytoken": "f24458fa-673a-4fb2-be4b-6a6fefd84486"
		},
		"docker.misys.global.ad:5000": {
			"auth": "YWFuZHJpZXU6RmFsbDEyMyQ="
		},
		"https://index.docker.io/v1/": {
			"auth": "bmFibGE6TWlja2V5MTIz"
		},
		"https://registry.misys.global.ad/": {
			"auth": "bWdyLmplbmtpbnM6TWlzeXMyMDEz"
		},
		"registry-tmp.misys.global.ad": {
			"auth": "YWFuZHJpZXU6UHl0aG9uMTIzJA=="
		},
		"registry.hub.docker.com": {
			"auth": "bmFibGE6TWlja2V5MTIz"
		},
		"registry.misys.global.ad": {
			"auth": "bWdyLmplbmtpbnM6",
			"identitytoken": "d2f5e2cb-fe27-4206-9d42-3a5726553746"
		}
	},
	"HttpHeaders": {
		"User-Agent": "Docker-Client/19.03.2 (linux)"
	}
}
